
#canvas_wrapper {
    position: relative;
    margin: auto;
    max-width: 1000px;
    width: auto;
}

#canvas_wrapper::before{
    content: "";
    display: block;
    padding-top: 56.25%;
}

.container {
    display: contents;
    position: relative;
    width: fit-content;
    margin: 10px;
    text-align: center;
}

#array_view {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    position: absolute;
}

.sort {
    width: 100px;
}

#content {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

p {
    margin: 5px;
}